@model pampasoft6.localidades

<ol class="breadcrumb">
    <li><a href="~/Localidades">Localidades</a></li>
    <li class="active">@(Model.Nombre)</li>

</ol>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia.Nombre)
        </dd>
    </dl>
</div>
<p>
    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    </div>
    @Html.ActionLink("Modificar", "Edit", new { Id = Model.Id }) 
</p>
