@model pampasoft6.ViewsModels.Localidades_view

<h2>@ViewBag.Titulo</h2>

<p>
    @Html.ActionLink("Crear nueva", "Create")
</p>

<p>
    <h4>Filtros</h4>
    @using (Html.BeginForm(null, null, FormMethod.Get))
    {
        <label for="codigopostal">Código Postal</label>
        <input type="number" name="codigopostal" id="codigopostal" />
        <input type="submit" value="Filtrar" class="btn btn-success" />
    }

    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" />
    @section scripts{
        @Scripts.Render("~/bundles/jquery-ui")
        <script>
            $(function () {
                $("#nombre").autocomplete({
                    source: "/Localidades/BusquedaRapida"
                });
            });
        </script>
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.Localidades[0].Nombre)
        </th>
        <th>
            <!-- Html.DisplayNameFor(model => model.CP) -->
            @Html.DisplayNameFor(Model => Model.Localidades[0].CodigoPostal)
        </th>
        <th>
            <!-- Html.DisplayNameFor(model => model.C_DISCADO) -->
            @Html.DisplayNameFor(Model => Model.Localidades[0].Discado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Localidades)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discado)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
@{Html.RenderPartial("_paginador", Model);}
